.kareless-eq-row-item {
	height: 400px;
}

@media all and ( min-width: 768px ) {
	.kareless-eq-row-item {
		float: left;
		@include with-count(1) {
			width: 100%;
			height: 500px;
		}

		@include with-count(2) {
			width: 50%;
		}

		@include with-count(3) {
			width: 33.3%;
		}

		@include with-count(4) {
			width: 25%;
		}

		@include with-count(5) {
			width: 20%;
		}
	}
}
