.page-template-page-kareless-home #masthead {
	margin-bottom: 0;
}

.page-template-page-kareless-home #content .col-full {
	width: 100%;
	padding: 0;
	margin: 0;
	max-width: 100%;
}

.page-template-page-kareless-home #main,
.page-template-page-kareless-home #primary {
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: 100%;
}

.kareless-image-fill,
.kareless-image-fill-container img {
	border-radius: 0;
	font-family: 'object-fit: cover;';
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.kareless-eq-row-item {
	position: relative;
}

.kareless-home-section-content {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;

	a {
		background: rgba( 0, 0, 0, 0.8 );
		border-radius: 2px;
		font-size: 1.8em;
		padding: 1em 1.6em;
		transition: all .2s ease-in-out;

		&:hover {
			background: rgba( 0, 0, 0, 0.95 );
			font-size: 2em;
		}
	}
}

@media all and ( max-width: 480px ) {
	.kareless-home-section-content a {
		font-size: 1.4em;

		&:hover {
			font-size: 1.6em;
		}
	}
}

.page-template-page-kareless-home .kareless-eq-wrap {
	border-top: 8px solid #fff;
	&:first-child {
		border-top: 0;
	}
}

.page-template-page-kareless-home .kareless-eq-row-item {
	border-left: 8px solid #fff;
	&:first-child {
		border-left: 0;
	}
}
