.home #main {
	padding-top: 0;
}

.home #content .col-full {
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: 100%;
}

.home #main, .home #primary {
	margin-bottom: 0;
}

.kareless-image-fill {
	border-radius: 0;
	font-family: 'object-fit: cover;';
	height: 100%;
	max-height: 600px;
	object-fit: cover;
	width: 100%;
}

.kareless-eq-row-item {
	position: relative;
}

.kareless-home-section-content {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-image: radial-gradient(
		circle farthest-corner,
		rgba( 0, 0, 0, 0 ),
		rgba( 0, 0, 0, 0.6 )
	);

	a {
		background: rgba( 255, 255, 255, 0.8 );
		border-radius: 2px;
		font-size: 2.6em;
		padding: 0 .5em;
		transition: all .2s ease-in-out;
	}

	&:hover {
		a {
			background: #fff;
		}
	}
}
