/*
 Theme Name:   Kareless Original Storefront Child Theme
 Theme URI:    http://karelessoriginal.com
 Description:  Child theme of storefront for KarelessOriginal.com
 Author:       Eric Binnion
 Author URI:   http://manofhustle.com
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  kareless-storefront
*/

/**
 * Header styles
 */

.site-header .site-branding .custom-logo-link {
	width: 100%;
	padding-top: 34.2%; /* 84:29 aspect ratio */
	position: relative;
}

.site-header .site-branding .custom-logo-link img {
	position: absolute;
		top: 0;
		left: 0;
}

#masthead {
	padding: 1em 0;
}

#masthead .col-full {
	display: flex;
}

#masthead .col-full .site-branding {
	margin-right: 32px;
}

#masthead .col-full .storefront-primary-navigation {
	align-content: right;
	display: flex;
	flex-grow: 5;
}

#masthead .col-full .storefront-primary-navigation .main-navigation {
	margin-left: auto;
}

/**
 * Home page styles
 */
.home #main {
	padding-top: 0;
}